<style>
.webhook {
	padding: 10px;
    margin: 5px;
    background-color: #f3f3f3
}
.h1 {
    text-align: center;
}
</style>
<title>Nylas Webhooks</title>
<h1 class='h1'>Webhooks</h1>
<% webhooks.each do |item| %>
  <div class='webhook'>
    <p><b>Id:</b> <%= item.title %> | <b>Date:</b> <%= item.date %> | <b>Title:</b> <%= item.title %> | 
          <b>Description:</b> <%= item.description %> | <b>Participants:</b> <%= item.participants %> |
          <b>Status:</b> <%= item.status %></p>

  </div>
<% end %>
